body {
  background-image: url('/backdrop.png');
  background-color: #437c90;
  color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  font-family: 'Montserrat';
  text-shadow: 1px 1px #183446;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  font-family: 'Montserrat';
}

h3 {
  text-align: center;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

hr {
  width: 0vw;
  -webkit-animation: wideout 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: wideout 2s; /* Firefox < 16 */
  -ms-animation: wideout 2s; /* Internet Explorer */
  -o-animation: wideout 2s; /* Opera < 12.1 */
  animation: wideout 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

form div {
  margin: 1em;
  display: inline-block;
}

#heroimg {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  height: 35vh;
  border: 3px solid white;
  border-radius: 80%;
}

.navlink {
  transition: 0.3s;
  padding: 5px;
  border-radius: 5px;
}

.navlink:hover {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(20, 20, 30, 0.9);
  text-shadow: none;
}

#nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Karla';
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

#home h1 {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

#home h3 {
  opacity: 0;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#homenav {
  opacity: 0;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#aboutnav {
  opacity: 0;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

#projectsnav {
  opacity: 0;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

#experiencesnav {
  opacity: 0;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

#home-spacing {
  height: 7vh;
}

#main {
  display: flex;
  flex-direction: column;
}

#about {
  border-radius: 10px;
}

#profileimg {
  width: 20%;
}

.color-maxblue {
  background-color: #437c90;
}

.color-yankeeblue {
  background-color: #04080f;
  background-image: none;
}
.color-lavender {
  background-color: #759fbc;
  background-image: url('backdrop2.png');
}
.color-blue {
  background-color: #507dbc;
  background-image: none;
}
.color-green {
  background-color: #1f5673;
  background-image: none;
}
.color-yellow {
  background-color: #037971;
  background-image: none;
}
.color-orange {
  background-color: #f19031;
  background-image: none;
}
.color-red {
  background-color: #f2293a;
  background-image: none;
}

#spacing {
  height: 30vh;
}

#projects {
  padding-top: 9vh;
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 10vh;
}

#projects-container {
  display: flex;
  flex-direction: row;
  /* width: 75vw; */
  overflow: auto;
  border-right: 2px white solid;
  border-left: 2px white solid;
  margin-right: 3vw;
  border-radius: 20px;
}

#projects h1 {
  flex: 1;
  padding: 2vh;
  margin-right: 1vw;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.project {
  display: flex;
  overflow: auto;
  min-width: 300px;
  min-height: 99%;
  flex-direction: column;
  text-align: center;
  font-family: 'Karla';
  border-radius: 20px;
  border: 2px solid white;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.5);
}

.project-spacer {
  height: 2vh;
}

.project:hover {
  color: #093a3e;
  text-shadow: none;
  background: rgba(250, 250, 255, 0.7);
}

.project a {
  color: darkcyan;
  text-shadow: none;
}

.project hr {
  background-color: black;
  height: 1px;
  width: 2vw;
  -webkit-animation: none; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: none; /* Firefox < 16 */
  -ms-animation: none; /* Internet Explorer */
  -o-animation: none; /* Opera < 12.1 */
  animation: none;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

.project p {
  margin: 4px;
}

.project-icon {
  height: 10vh;
  align-self: center;
  border-radius: 5%;
  padding: 1vh;
  transition: 0.3s;
}

.project-icon:hover {
  background: rgba(255, 255, 255, 0.5);
}

#gitcon {
  width: 2vw;
  vertical-align: middle;
  transition: 0.5s;
}

#gitcon:hover {
  width: 3vw;
}

h1 {
  align-self: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes wideout {
  from {
    width: 0vw;
  }
  to {
    width: 40vw;
  }
}

/* Firefox < 16 */
@-moz-keyframes wideout {
  from {
    width: 0vw;
  }
  to {
    width: 40vw;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes wideout {
  from {
    width: 0vw;
  }
  to {
    width: 40vw;
  }
}

/* Internet Explorer */
@-ms-keyframes wideout {
  from {
    width: 0vw;
  }
  to {
    width: 40vw;
  }
}

/* Opera < 12.1 */
@-o-keyframes wideout {
  from {
    width: 0vw;
  }
  to {
    width: 40vw;
  }
}

#experiences {
  display: flex;
  flex-direction: row;
  padding-top: 7vh;
  text-align: center;
  height: 90vh;
  margin-bottom: 3vh;
  justify-content: center;
}

#experiences h1 {
  flex: 0.5;
  padding: 2vh;
  margin-right: 2vw;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

#resume-container {
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  width: 90%;
  height: 70%;
  overflow: auto;
  border-radius: 20px;
  vertical-align: middle;
}

#resume-img {
  border-radius: 20px;
  opacity: 0.5;
  width: 100%;
  min-height: 500px;
  justify-content: center;
}

#save {
  justify-self: center;
  align-self: center;
  margin-top: 10px;
  padding: 7px;
  border-radius: 50%;
  border: 2px white solid;
  transition: 0.3s;
}

#save:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
